{% layout none %}

<div class="product-card">
  <a class="product-card__image" href="{{ product.selected_or_first_available_variant.url }}">
    <img src="{{ product.featured_media | image_url: height: 500, width: 500 }}" alt="{{ product.title }}" height="150px" width="150px">
  </a>
  <a href="{{ product.url }}">
    <h3 class="product-card__title">{{ product.title }}</h3>
  </a>
</div>